/* general */
body {padding-top:0px; padding-bottom:0px;font-size:16px;line-height: 21px;font-family: "AntennaRE" !important;text-shadow:none !important;}

h1 {padding-bottom:0.2em;}

.meta {color:#999; font-size:.9em; display:block;}
.meta em {font-style:normal; font-weight:bold;}

img{
	max-width:100%;
	height:auto;
}
a:hover {
  color: #08C;
}

/* top bar */
.navbar .container{
	max-width:1200px;
}
.navbar .navbar-inner{
	background: none;
	border-radius: 0 !important; ;
	-webkit-border-radius: 0 !important;
	border:none;
	box-shadow:none;
	-webkit-box-shadow:none;
	background-color:#292929;
	color:#fff;
	font-size:0.875em;
	padding:15px 10px 10px 15px;
}
.navbar .brand {
	padding-top: 11px;
	color:#fff;
	font-size:1em;
	text-shadow: none;
	width:350px;
}

.navbar .brand img{
	max-width:90px;
	margin:-5px 15px 0px 0px;
	float:left;
}

.navbar .nav > li > a {
	padding-top: 16px;
}

.navbar .nav > li > a.gray {
	opacity:0.4;
}

.navbar .nav > li > a {
	color:#fff;
	text-shadow: none;
	font-size:12px;
}

.navbar .nav > li > a:hover {
	color:#08C;
	text-shadow: none;
}

.navbar .nav li.dropdown.open > .dropdown-toggle{
	background-color:inherit;
	color:#08C;
}
.navbar .pull-right > li > .dropdown-menu::after, .navbar .nav > li > .dropdown-menu::after{
	left:20px;
	right:auto;
}
.navbar ul.dropdown-menu {
	border-radius: 10px !important;
}
.dropdown-menu a {
	padding: 15px 0px 15px 20px;
	color:#08C;
	border-bottom: thin solid #d1d1d1;
}

.dropdown-menu a:last-child {
	border-bottom: 0;
	margin-bottom:-2px;
}

.navbar .btn {
	margin-top:10px;
}

.page-container{
	max-width:1200px;
	margin:0 auto;
}

/* sidenav */
.accordion-inner ul{
	margin:0;
}
.accordion-inner ul li ul {
	margin-left:25px;
}

/* login */
#login-page.container {width:320px;}

/* dashboard */
.summary {display:table; width:100%; padding:0; margin:0 0 20px 0;}
.summary ul {margin:0; padding:0; overflow:hidden; display:table-row;}
.summary li {margin:0; padding:19px; display:table-cell; border-right:1px solid #eee;}
.summary li:last-child {border:none;}
.summary a {display:block; font-size:1.2em; line-height:1.4em; text-transform:uppercase; color:#000;}
.summary .count {display:block; font-size:1.75em; font-weight:bold;}

	/* dashboard - ie fixes */
	.ie7 .summary {display:block;}
	.ie7 .summary ul {margin:0; padding:0; overflow:hidden; display:block;}
	.ie7 .summary li {float:left;}
	
	.ielt9 .summary .last {border:none;}

/* tasks */
.tasks {margin:0; padding:0;}
.tasks li {list-style-type:none; padding-bottom:0.3em;}
.tasks input {vertical-align:baseline;}
.tasks .meta {padding-left:18px;}
.tasks.done {opacity:0.8;}

/* messages */
.messages {margin:0; padding:0;}
.messages .messages {padding-top:19px;}
.messages li {list-style-type:none; padding-bottom:0.3em;}
.messages .well {padding:19px;}
.messages .messages .well {border:none; -webkit-box-shadow:none;-moz-box-shadow:none; box-shadow:none; border-left:3px solid #eee;border-left:3px solid rgba(0, 0, 0, 0.05);}

/* blank slate */
.blank-slate {text-align:center;}

/* files */
.files li {list-style-type:none;}
.files .meta {padding-left:18px;}

.zebra-list {margin:0 0 18px 0; padding:0;}
.zebra-list li {border:1px solid #DDD; padding:8px; border-bottom:none;}
.zebra-list li:nth-child(odd) {background-color:#F9F9F9;}
.zebra-list li:first-child {-webkit-border-radius:4px 4px 0 0; -moz-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0;}
.zebra-list li:last-child {border-bottom:1px solid #DDD; -webkit-border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px; border-radius:0 0 4px 4px;}

/* patterns */
.pattern{
	margin: 20px 0;
}
.pattern h3{
	border-bottom:thin #E5E5E5 ridge;
	margin-bottom:20px;
}
.description{
	clear:both;
}
.description p,.description ul{max-width:700px;}
.description p,.description li{margin-bottom:20px;}
.output{
	width:320px;
}

.state_1 { /* new */
	border: 3px #13A388 dashed;
}
.state_2 { /* edited */
	border: 3px #86B828 dashed;
}
.state_3 { /* delited */
	border: 3px #171819 dashed;
}



.nav-tabs{
	margin:10px 0 0 0;
}

/*edit patterns*/
#imagesModal{
    width: 800px;
    margin-left: -400px; /* - width/2 */
}

.sidebar{
	width:25%;
	float:left;
}
.main{
	width:68%;
	float:left;
	padding:0 2% 0 5%;
}
/* RESPONSIVE */
@media (max-width: 979px) {
	.container{
		width:100%;
	}
	.sidebar{
		margin-left: -100%;
	}
	.main{
		width:96%;
		padding: 0 2%;
	}
}
@media (max-width: 767px){
	body{
		padding-right: 0px;
		padding-left:  0px;
	}
}
@media (max-width: 480px) {
	.navbar .brand {
		width:250px;
	}
}